@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(248, 70%, 10%);

    --orange-500: hsl(7, 88%, 67%);
    --orange-700: hsl(7, 71%, 60%);

    --Gradient1: hsl(7, 86%, 67%);
    --Gradient2: hsl(0, 0%, 100%); /* (text) */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata', monospace, sans-serif;
    width: 100%;
    min-height: 100vh;
    padding: 1.25rem 0 0;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../assets/images/pattern-lines.svg');
                      url('../assets/images/pattern-squiggly-line-top.svg');
                      url('../assets/images/pattern-squiggly-line-bottom.svg');
                      url('../assets/images/pattern-circle.svg');
                      url('../assets/images/pattern-circle.svg');
                      url('../assets/images/background-desktop.png');
    background-repeat: no-repeat;
    background-position: top center, bottom left, top right, 69%, 65%, 12.5rem, -10%;
    background-size: cover, auto, 18.75rem, 9.375rem, 9.375rem, cover;
    line-height: 1.5;
    background-color: var(--neutral-900);
    color: var(--neutral-300);
}

main {
    width: calc(100% - 1.25rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
    margin: 0 .625rem;
}

#container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form {
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

form div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .4375rem;
}

#container-fl {
    margin-bottom: .3125rem;
}

#avatar {
    height: 5rem;
    border: .0625rem solid var(--neutral-300);
    border-style: dashed;
}

#container-input-file img.preview {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.125rem;
    height: 3.125rem;
    object-fit: cover;
    border-radius: .3125rem;
    border: .0625rem solid var(--neutral-300);
}

label {
    font-size: 0.9em;
}

#file-placeholder {
    width: 100%;
    font-size: 0.9em;
    position: absolute;
    text-align: center;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#container-buttons {
    width: 100%;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-image {
    font-size: 0.8em;
    color: var(--neutral-300);
    background-color: var(--neutral-700);
    padding: .1875rem .375rem;
    border-radius: .3125rem;
    border: none;
    cursor: pointer;
}

#remove-image {
    text-decoration: underline;
}

input[input="file"] {
    display: none;
}

#file-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#container-input-file {
    position: relative;
    height: 7.1875rem;
    border: .0625rem solid var(--neutral-500);
    background-color: var(--neutral-700);
    border-style: dashed;
    border-radius: .625rem;
    transition: background-color .3s ease;
}

#container-input-file:hover {
    cursor: pointer;
    background-color: var(--neutral-600);
}

#container-input-file:hover .button-image {
    background-color: var(--neutral-900);
}

#icon-upload {
    background-color: var(--neutral-900);
    width: 3.125rem;
    padding: .3125rem;
    border-radius: .625rem;
    border: .0625rem solid var(--neutral-500);
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
}

.alertMessage {
    font-size: 0.75em;
}

#file-information i {
    font-size: 0.9em;
}

h1 {
    font-size: 2.4rem;
    margin: .625rem 0 .3125rem;
    color: var(--neutral-0);
}

input {
    padding: .625rem;
    border: .0625rem solid var(--neutral-500);
    background-color: var(--neutral-700);
    border-radius: .625rem;
    color: var(--neutral-300);
    font-family: inherit;
    transition: background-color .3s ease;
}

input:hover {
    background-color: var(--neutral-600);
}

input:focus {
    border: .1875rem double var(--neutral-500);
}

input::placeholder {
    color: var(--neutral-500);
}

input:-webkit-autofill {
    background-color: var(--neutral-700) !important;
}

input[type="submit"] {
    background-color: var(--orange-500);
    color: var(--neutral-900);
    font-weight: 700;
    padding: .625rem 0;
    margin-top: .3125rem;
    border: .0625rem solid var(--neutral-900);
    transition: all .3s ease;
    cursor: pointer;
    font-size: 1.1em;
}

input[type="submit"]:hover {
    background-color: var(--orange-700);
    border-style: inset;
    border: none;
    border-bottom: .1875rem solid var(--Gradient1);
    cursor: pointer;
}

input[type="submit"]:active {
    transform: scale(0.98);
}

.errorInput {
    border: .0625rem solid var(--orange-500);
}

.errorMessage {
    color: var(--orange-500);
}

/* UserInput.html */
#ticket-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ticket-name {
    margin: 1.875rem;
}

#ticket-email {
    width: 50%;
}

#ticket {
    position: relative;
    top: .8125rem;
    left: .8125rem;
}

#container-information-ticket {
    display: flex;
    align-items: center;
    gap: .625rem;
    position: absolute;
    width: 100%;
    bottom: .9375rem;
    left: .8125rem;
}
#ticket-image {
    width: 100%;
}

#ticket-date {
    position: absolute;
    top: 2.8125rem;
    left: 3.625rem;
    font-size: 0.9em;
}

.gradient-text {
    font-weight: 700;
    background: linear-gradient(to right, var(--Gradient1), var(--Gradient2));
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#image-profile {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: .4375rem;
}

#name-profile {
    color: var(--neutral-0);
    font-weight: 500;
    font-size: 1em;
}

#container-github {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: .3125rem;
}

#github-profile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .3125rem;
}

#user-github {
    font-size: 0.8em;
}

#ticket-number {
    color: var(--neutral-500);
    font-size: 1.15em;
    position: absolute;
    top: 45%;
    right: .625rem;
    transform: rotate(90deg);
}

/* Media Queries */
@media (max-width: 64rem) {
    body {
        padding: 1.5625rem 0 0;
        background-image: url('../assets/images/pattern-circle.svg');
                          url('../assets/images/squiggly-line-bottom.svg');
                          url('../assets/images/squiggly-line-top.svg');
                          url('../assets/images/pattern-circle.svg');
                          url('../assets/images/pattern-circle.svg');
                          url('../assets/images/background-tablet.png');
        background-position: top center, bottom left, top right, 120% center, 1%, -10% center center;
        background-size: cover, contain, 18.75rem, 9.375rem, 9.375rem, cover;
        background-repeat: no-repeat;                  
    }       
}

@media (max-width: 31.25rem) {
    body {
        padding: 1.5625rem 0 0;
        background-image: url('../assets/images/pattern-circle.svg');
                          url('../assets/images/squiggly-line-bottom.svg');
                          url('../assets/images/squiggly-line-top.svg');
                          url('../assets/images/pattern-circle.svg');
                          url('../assets/images/pattern-circle.svg');
                          url('../assets/images/background-mobile.png');
        background-position: top center, bottom left, top right, 120% center, 1%, -10% center center;
        background-size: cover, contain, 18.75rem, 18.75rem, 18.75rem, cover;
        background-repeat: no-repeat;                  
    }
    
    main {
        margin: 0 .9375rem;
    }

    #message-info {
        font-size: 0.65em;
    }
}

/* UserInput.html Media Queries */
@media (max-width: 64rem) {
    body {
        padding: 1.5625rem 0 0;
        background-image: url('../assets/images/pattern-circle.svg');
                          url('../assets/images/squiggly-line-bottom.svg');
                          url('../assets/images/squiggly-line-top.svg');
                          url('../assets/images/pattern-circle.svg');
                          url('../assets/images/pattern-circle.svg');
                          url('../assets/images/background-tablet.png');
        background-position: top center, bottom left, top right, 120% center, 1%, -10% center center;
        background-size: cover, contain, 18.75rem, 18.75rem, 18.75rem, cover;
        background-repeat: no-repeat;                  
    }    
}

@media (max-width: 31.25rem) {
    body {
        padding-top: 1.5625rem;
    }

    
}


