@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(248, 70%, 10%);

    --orange-500: hsl(7, 88%, 67%);
    --orange-700: hsl(7, 71%, 60%);

    --gradient: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

body {
    font-family: 'Inconsolata', monospace, sans-serif;
    width: 100%;
    min-height: 100vh;
    padding: 1.25rem 0 0;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../assets/images/pattern-lines.svg')
                      url('../assets/images/pattern-squiggly-line-top.svg')
                      url('../assets/images/pattern-squiggly-line-bottom.svg')
                      url('../assets/images/pattern-circle.svg')
                      url('../assets/images/pattern-circle.svg')
                      url('../assets/images/background-desktop.png');
    background-repeat: no-repeat;
    background-position: top center, bottom left, top right, 69%, 65%, 12.5rem, -10%;
    background-size: cover, auto, 18.75rem, 9.375rem, 9.375rem, cover;
    line-height: 1.5;
    background-color: var(--neutral-900);
    color: var(--neutral-300);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header p {
    padding-left: 0.75rem;
    font-size: 1.75rem;
    font-weight: 700;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 1.25rem);
    margin: 0 .625rem;
}

form {
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}





